/* khmer */
@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Battambang Regular'), local('Battambang-Regular'), url(../fonts/battambang/v14/uk-mEGe7raEw-HjkzZabPnmp4hxx.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Battambang Bold'), local('Battambang-Bold'), url(../fonts/battambang/v14/uk-lEGe7raEw-HjkzZabNsmM9yhQ87ZK.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
