/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'), url(../fonts/comicneue/v2/4UaarEJDsxBrF37olUeD96_RTplkLCND.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Comic Neue Italic'), local('ComicNeue-Italic'), url(../fonts/comicneue/v2/4UaFrEJDsxBrF37olUeD96_Z5btx.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'), url(../fonts/comicneue/v2/4UaarEJDsxBrF37olUeD96_RXp5kLCND.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Comic Neue Light'), local('ComicNeue-Light'), url(../fonts/comicneue/v2/4UaErEJDsxBrF37olUeD_wHL8pxULg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'), url(../fonts/comicneue/v2/4UaHrEJDsxBrF37olUeD96rp5w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Comic Neue Bold'), local('ComicNeue-Bold'), url(../fonts/comicneue/v2/4UaErEJDsxBrF37olUeD_xHM8pxULg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
