/* khmer */
@font-face {
  font-family: 'Dangrek';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Dangrek'), url(../fonts/dangrek/v12/LYjCdG30nEgoH8E2sC9gqGIu.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
