/* khmer */
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Hanuman Regular'), local('Hanuman-Regular'), url(../fonts/hanuman/v13/VuJxdNvD15HhpJJBSKrdObFn.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Hanuman Bold'), local('Hanuman-Bold'), url(../fonts/hanuman/v13/VuJ0dNvD15HhpJJBQBr4LIVGZCNc.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
