/* latin-ext */
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Caladea Italic'), local('Caladea-Italic'), url(../fonts/caladea/v1/kJExBugZ7AAjhybUvR1N9vo3lOc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Caladea Italic'), local('Caladea-Italic'), url(../fonts/caladea/v1/kJExBugZ7AAjhybUvR1N-Po3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Caladea Bold Italic'), local('Caladea-BoldItalic'), url(../fonts/caladea/v1/kJE0BugZ7AAjhybUvR1FQ98ipcZyNZ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Caladea Bold Italic'), local('Caladea-BoldItalic'), url(../fonts/caladea/v1/kJE0BugZ7AAjhybUvR1FQ98iq8Zy.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caladea Regular'), local('Caladea-Regular'), url(../fonts/caladea/v1/kJEzBugZ7AAjhybUvRZ9-uIz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caladea Regular'), local('Caladea-Regular'), url(../fonts/caladea/v1/kJEzBugZ7AAjhybUvRh9-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Caladea Bold'), local('Caladea-Bold'), url(../fonts/caladea/v1/kJE2BugZ7AAjhybUtaNY79MSqd52.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Caladea Bold'), local('Caladea-Bold'), url(../fonts/caladea/v1/kJE2BugZ7AAjhybUtaNY790SqQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
