/* khmer */
@font-face {
  font-family: 'Siemreap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Siemreap'), url(../fonts/siemreap/v12/Gg82N5oFbgLvHAfNl1YXlg4zLQ.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
