/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Averia Serif Libre Light Italic'), local('AveriaSerifLibre-LightItalic'), url(../fonts/averiaseriflibre/v9/neIbzD2ms4wxr6GvjeD0X88SHPyX2xYOpzMmw50pXrY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Averia Serif Libre Italic'), local('AveriaSerifLibre-Italic'), url(../fonts/averiaseriflibre/v9/neIUzD2ms4wxr6GvjeD0X88SHPyX2xYOpzuN4Yg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Averia Serif Libre Bold Italic'), local('AveriaSerifLibre-BoldItalic'), url(../fonts/averiaseriflibre/v9/neIbzD2ms4wxr6GvjeD0X88SHPyX2xYOpzM2xJ0pXrY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Averia Serif Libre Light'), local('AveriaSerifLibre-Light'), url(../fonts/averiaseriflibre/v9/neIVzD2ms4wxr6GvjeD0X88SHPyX2xYGCSmaxq0r.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Averia Serif Libre Regular'), local('AveriaSerifLibre-Regular'), url(../fonts/averiaseriflibre/v9/neIWzD2ms4wxr6GvjeD0X88SHPyX2xYOoguP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Averia Serif Libre Bold'), local('AveriaSerifLibre-Bold'), url(../fonts/averiaseriflibre/v9/neIVzD2ms4wxr6GvjeD0X88SHPyX2xYGGS6axq0r.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
