/* gurmukhi */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(../fonts/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuUHaaHjyV.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(../fonts/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuUFqaHjyV.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(../fonts/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuUFuaHjyV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(../fonts/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuUFWaHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gurmukhi */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Baloo Paaji 2 Medium'), local('BalooPaaji2-Medium'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWKa5CyC0akyG.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Baloo Paaji 2 Medium'), local('BalooPaaji2-Medium'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWKa5Cwy0akyG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Baloo Paaji 2 Medium'), local('BalooPaaji2-Medium'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWKa5Cw20akyG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Baloo Paaji 2 Medium'), local('BalooPaaji2-Medium'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWKa5CwO0ag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gurmukhi */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-CyC0akyG.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-Cwy0akyG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-Cw20akyG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-CwO0ag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gurmukhi */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Baloo Paaji 2 Bold'), local('BalooPaaji2-Bold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWO6_CyC0akyG.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Baloo Paaji 2 Bold'), local('BalooPaaji2-Bold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWO6_Cwy0akyG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Baloo Paaji 2 Bold'), local('BalooPaaji2-Bold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWO6_Cw20akyG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Baloo Paaji 2 Bold'), local('BalooPaaji2-Bold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWO6_CwO0ag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gurmukhi */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Baloo Paaji 2 ExtraBold'), local('BalooPaaji2-ExtraBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWPK8CyC0akyG.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Baloo Paaji 2 ExtraBold'), local('BalooPaaji2-ExtraBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWPK8Cwy0akyG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Baloo Paaji 2 ExtraBold'), local('BalooPaaji2-ExtraBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWPK8Cw20akyG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Baloo Paaji 2 ExtraBold'), local('BalooPaaji2-ExtraBold'), url(../fonts/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWPK8CwO0ag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
