/* khmer */
@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fasthand'), local('Fasthand-Regular'), url(../fonts/fasthand/v11/0yb9GDohyKTYn_ZEERkiaE0GrQ.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
