/* khmer */
@font-face {
  font-family: 'Freehand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/freehand/v12/cIf-Ma5eqk01VjKTgDmNRGQ-mQ.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
