/* khmer */
@font-face {
  font-family: 'Kdam Thmor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/kdamthmor/v9/MwQzbhjs3veF6QwJVf0JoG8fiIlP.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
