@font-face {
  font-family: 'Libertinus Math';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/libertinusmath/v2/Gw6iwc3770TVMoHVurPejWtfenRLug.woff2) format('woff2');
}
