/* latin */
@font-face {
  font-family: 'Marvel';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Marvel Italic'), local('Marvel-Italic'), url(../fonts/marvel/v10/nwpXtKeoNgBV0qa4k2THJ3o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Marvel';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Marvel Bold Italic'), local('Marvel-BoldItalic'), url(../fonts/marvel/v10/nwpQtKeoNgBV0qa4k2x8Am-l7w0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Marvel'), local('Marvel-Regular'), url(../fonts/marvel/v10/nwpVtKeoNgBV0qa4llTF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Marvel Bold'), local('Marvel-Bold'), url(../fonts/marvel/v10/nwpWtKeoNgBV0qawLXHQAF-n.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
