/* khmer */
@font-face {
  font-family: 'Moulpali';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Moul Pali'), local('MoulPali'), url(../fonts/moulpali/v13/H4ckBXKMl9HagUWymxY2yL6Agw.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
