/* khmer */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/nokora/v14/hYkIPuwgTubzaWxgNzAOkvY.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/nokora/v14/hYkLPuwgTubzaWxohxUbptd9yB8.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
