/* khmer */
@font-face {
  font-family: 'Odor Mean Chey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OdorMeanChey'), url(../fonts/odormeanchey/v12/raxkHiKDttkTe1aOGcJMR1A_4lrU0TukKQ.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
