/* fallback */
@font-face {
  font-family: 'Playwrite AU TAS Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteautasguides/v1/cY9Vfi6cVk5RvjGtQrLqjozy3ekUDtDMDX-NNjbP.woff2) format('woff2');
}
