/* fallback */
@font-face {
  font-family: 'Playwrite CO Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritecoguides/v5/AYCXpWvtftIVXepC5AzjAx1KgYPugOK0Tqk.woff2) format('woff2');
}
