/* fallback */
@font-face {
  font-family: 'Playwrite BE VLG Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritebevlgguides/v2/EYqjmb1Mz6hO4edaU9qKGFZMDd_Q-zwwK__U1u9D.woff2) format('woff2');
}
