/* fallback */
@font-face {
  font-family: 'Playwrite PL Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteplguides/v1/jVyW7m_lCm7G5CZyQCAu8mgkGLk-kmibWRg.woff2) format('woff2');
}
