/* fallback */
@font-face {
  font-family: 'Playwrite GB S Guides';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbsguides/v1/0FlEVOSHl1iH-fv2BH4kIkUBqtlNCEaQLly6xV4O.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbsguides/v1/0FlKVOSHl1iH-fv2BH4kIkUBqtlNCEaQLlyKwg.woff2) format('woff2');
}
