/* fallback */
@font-face {
  font-family: 'Playwrite PT';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritept/v3/6NUR8FidKwOcfRjj8ukv5LgkzA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PT';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritept/v3/6NUR8FidKwOcfRjj8ukv5LgkzA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PT';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritept/v3/6NUR8FidKwOcfRjj8ukv5LgkzA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritept/v3/6NUR8FidKwOcfRjj8ukv5LgkzA.woff2) format('woff2');
}
