/* fallback */
@font-face {
  font-family: 'Playwrite CO';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteco/v6/0FlTVP2Hl1iH-fv2BH4kJkgB_A.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CO';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteco/v6/0FlTVP2Hl1iH-fv2BH4kJkgB_A.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CO';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteco/v6/0FlTVP2Hl1iH-fv2BH4kJkgB_A.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CO';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteco/v6/0FlTVP2Hl1iH-fv2BH4kJkgB_A.woff2) format('woff2');
}
