/* fallback */
@font-face {
  font-family: 'Playwrite DE VA';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritedeva/v10/VuJpdNPb2p7tvoFGLMPdeMxGN1p9ug.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE VA';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritedeva/v10/VuJpdNPb2p7tvoFGLMPdeMxGN1p9ug.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE VA';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritedeva/v10/VuJpdNPb2p7tvoFGLMPdeMxGN1p9ug.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE VA';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedeva/v10/VuJpdNPb2p7tvoFGLMPdeMxGN1p9ug.woff2) format('woff2');
}
