/* fallback */
@font-face {
  font-family: 'Playwrite DE LA';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritedela/v4/oY1G8e3fprboJ2HN4ogXTpFVJ8Q5Kw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE LA';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritedela/v4/oY1G8e3fprboJ2HN4ogXTpFVJ8Q5Kw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE LA';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritedela/v4/oY1G8e3fprboJ2HN4ogXTpFVJ8Q5Kw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE LA';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedela/v4/oY1G8e3fprboJ2HN4ogXTpFVJ8Q5Kw.woff2) format('woff2');
}
