/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kLo8wSPe9dzQ1UGbvobAPhY7KP0Qo.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kLo8wSPe9dzQ1UGbvobAPhY7KP0Qo.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kLo8wSPe9dzQ1UGbvobAPhY7KP0Qo.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kLo8wSPe9dzQ1UGbvobAPhY7KP0Qo.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kJo8wSPe9dzQ1UGbvobAPhY4KI.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kJo8wSPe9dzQ1UGbvobAPhY4KI.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kJo8wSPe9dzQ1UGbvobAPhY4KI.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbj/v10/k3kJo8wSPe9dzQ1UGbvobAPhY4KI.woff2) format('woff2');
}
