/* fallback */
@font-face {
  font-family: 'Playwrite CL';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritecl/v5/-zki91m7wssz_XLkGgu8hy33pA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CL';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritecl/v5/-zki91m7wssz_XLkGgu8hy33pA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CL';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritecl/v5/-zki91m7wssz_XLkGgu8hy33pA.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritecl/v5/-zki91m7wssz_XLkGgu8hy33pA.woff2) format('woff2');
}
