/* fallback */
@font-face {
  font-family: 'Playwrite ZA Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritezaguides/v1/O4ZOFHPsmxlhCg3-iycDyEwy0BT1ribk2HU.woff2) format('woff2');
}
