/* fallback */
@font-face {
  font-family: 'Playwrite ES Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteesguides/v1/VuJtdM_b2p7tvoFGLMPdedpGJm402y6mhDU.woff2) format('woff2');
}
