/* fallback */
@font-face {
  font-family: 'Playwrite FR Moderne Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritefrmoderneguides/v2/CSRr4yxOn-mMWCgLPl16KrUKBbwa2ZZLdkrvXllIP22HmQ.woff2) format('woff2');
}
