/* fallback */
@font-face {
  font-family: 'Playwrite DE VA Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedevaguides/v1/WwkPxOmkDVqm-ojMLT_kdMUoBpMYm6KTeb28UBo.woff2) format('woff2');
}
