/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritedkuloopet/v6/bWtn7e3Ufwn0Hf1zjprKPYlcDAoHknvYFiCG.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritedkuloopet/v6/bWtn7e3Ufwn0Hf1zjprKPYlcDAoHknvYFiCG.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritedkuloopet/v6/bWtn7e3Ufwn0Hf1zjprKPYlcDAoHknvYFiCG.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedkuloopet/v6/bWtn7e3Ufwn0Hf1zjprKPYlcDAoHknvYFiCG.woff2) format('woff2');
}
