/* fallback */
@font-face {
  font-family: 'Playwrite PT Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteptguides/v2/sJoY3K5JjdGLJV3vyatrMkupgg-kWTx5F5w.woff2) format('woff2');
}
