/* fallback */
@font-face {
  font-family: 'Playwrite IT Trad Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteittradguides/v2/SlGDmReYo5oYZX5BFVcEySBSPE50BiuP2AHaRsRUBg.woff2) format('woff2');
}
