/* fallback */
@font-face {
  font-family: 'Playwrite US Trad Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteustradguides/v1/-zk29027wssz_XLkGgu8kTL39c2bMssjmiZPNnk5mQ.woff2) format('woff2');
}
