/* fallback */
@font-face {
  font-family: 'Playwrite NL Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritenlguides/v1/FwZH7_8mxlw-50y5PJughoCL4jbXkMqwsWc.woff2) format('woff2');
}
