/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedkloopetguides/v1/4iC46LlmYsRPlQ1zDEvT8weoW-sI8-h9xxN83W-Cb5tj.woff2) format('woff2');
}
