/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritedkloopet/v1/memiYbuzy2qb3rtJGfM1FvY-GacDcsPvr64.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritedkloopet/v1/memiYbuzy2qb3rtJGfM1FvY-GacDcsPvr64.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritedkloopet/v1/memiYbuzy2qb3rtJGfM1FvY-GacDcsPvr64.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DK Loopet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedkloopet/v1/memiYbuzy2qb3rtJGfM1FvY-GacDcsPvr64.woff2) format('woff2');
}
