/* fallback */
@font-face {
  font-family: 'Playwrite CL Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteclguides/v2/Z9XKDnxTQxyGzOn3eMH-i6Ws0czqkE-hrN8.woff2) format('woff2');
}
