/* fallback */
@font-face {
  font-family: 'Playwrite ID Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteidguides/v1/MjQamj1kuP_soQ3o-rysMdWi_8oJlIUUInI.woff2) format('woff2');
}
