/* fallback */
@font-face {
  font-family: 'Playwrite NG Modern';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritengmodern/v10/ijwJs4b2R9Qve5V5lNJb_yRhEfSep5NbDiw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite NG Modern';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritengmodern/v10/ijwJs4b2R9Qve5V5lNJb_yRhEfSep5NbDiw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite NG Modern';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritengmodern/v10/ijwJs4b2R9Qve5V5lNJb_yRhEfSep5NbDiw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite NG Modern';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritengmodern/v10/ijwJs4b2R9Qve5V5lNJb_yRhEfSep5NbDiw.woff2) format('woff2');
}
