/* fallback */
@font-face {
  font-family: 'Playwrite PE Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritepeguides/v1/AMONz5uBsGadFuvf9j8ZyqI0FA3br70wwyk.woff2) format('woff2');
}
