/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWU_kFkk-s1Xclhmlemy7jsNS51Znk.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWU_kFkk-s1Xclhmlemy7jsNS51Znk.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWU_kFkk-s1Xclhmlemy7jsNS51Znk.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWU_kFkk-s1Xclhmlemy7jsNS51Znk.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWW_kFkk-s1Xclhmlemy7jsNR5y.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWW_kFkk-s1Xclhmlemy7jsNR5y.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWW_kFkk-s1Xclhmlemy7jsNR5y.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB S';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbs/v5/oPWW_kFkk-s1Xclhmlemy7jsNR5y.woff2) format('woff2');
}
