/* fallback */
@font-face {
  font-family: 'Playwrite IE Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteieguides/v1/LhW5MULFNP8PI-1UADw_Kbp9daTx5ovUaN8.woff2) format('woff2');
}
