/* fallback */
@font-face {
  font-family: 'Playwrite ES Deco Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteesdecoguides/v1/flUrRriwwII5RVl2TZ1XBNTUOYY6ZzZzwPCEKtwqZQ.woff2) format('woff2');
}
