/* fallback */
@font-face {
  font-family: 'Playwrite FR Trad Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritefrtradguides/v1/l7gMbit5yM62ycwevWCt133rT2kpYpEKjyfqRWLFew.woff2) format('woff2');
}
