/* fallback */
@font-face {
  font-family: 'Playwrite VN';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritevn/v11/mtG94_hXJqPSu8nf5RBY5i0w3Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite VN';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritevn/v11/mtG94_hXJqPSu8nf5RBY5i0w3Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite VN';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritevn/v11/mtG94_hXJqPSu8nf5RBY5i0w3Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite VN';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritevn/v11/mtG94_hXJqPSu8nf5RBY5i0w3Q.woff2) format('woff2');
}
