/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedegrundguides/v1/OD5RuNCQ02KrAHnha1L36CWcQ83dtK5BLxqexnduX9o.woff2) format('woff2');
}
