/* fallback */
@font-face {
  font-family: 'Playwrite AR Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritearguides/v5/iJWYBWqKZTrYS9uv-Ry6kDf-q_0Xq67mcGA.woff2) format('woff2');
}
