/* fallback */
@font-face {
  font-family: 'Playwrite BE WAL';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritebewal/v7/DtV4Jwq5QbIzyrA6DHdJ2BksuUmahwU.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite BE WAL';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritebewal/v7/DtV4Jwq5QbIzyrA6DHdJ2BksuUmahwU.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite BE WAL';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritebewal/v7/DtV4Jwq5QbIzyrA6DHdJ2BksuUmahwU.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite BE WAL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritebewal/v7/DtV4Jwq5QbIzyrA6DHdJ2BksuUmahwU.woff2) format('woff2');
}
