/* fallback */
@font-face {
  font-family: 'Playwrite DK Uloopet Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedkuloopetguides/v1/WwkKxOSkDVqm-ojMLT_kdMsoBb5Xs6efafiIBXYcVHk1aw.woff2) format('woff2');
}
