/* fallback */
@font-face {
  font-family: 'Playwrite NO Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritenoguides/v1/DPEwYx-Cyg4cQ2aAcFshOLL79zJKccqHe2o.woff2) format('woff2');
}
