/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw6jwc7n6kfJN4fVoKON7HIuDDxu.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw6jwc7n6kfJN4fVoKON7HIuDDxu.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw6jwc7n6kfJN4fVoKON7HIuDDxu.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw6jwc7n6kfJN4fVoKON7HIuDDxu.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw69wc7n6kfJN4fVoKON7HIeCw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw69wc7n6kfJN4fVoKON7HIeCw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw69wc7n6kfJN4fVoKON7HIeCw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteat/v5/Gw69wc7n6kfJN4fVoKON7HIeCw.woff2) format('woff2');
}
