/* fallback */
@font-face {
  font-family: 'Playwrite AU VIC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteauvic/v10/bWtj7enUfwn0Hf1zjprKOJdcDy8r3Q4.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AU VIC';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteauvic/v10/bWtj7enUfwn0Hf1zjprKOJdcDy8r3Q4.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AU VIC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteauvic/v10/bWtj7enUfwn0Hf1zjprKOJdcDy8r3Q4.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite AU VIC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteauvic/v10/bWtj7enUfwn0Hf1zjprKOJdcDy8r3Q4.woff2) format('woff2');
}
