/* fallback */
@font-face {
  font-family: 'Playwrite AU SA Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteausaguides/v1/3JnsSCLj03y8jUv7aFWBCCglBaFjl54aVBAovc0.woff2) format('woff2');
}
