/* fallback */
@font-face {
  font-family: 'Playwrite ES';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritees/v10/kJE0BuMK4Q07lDHc2Xp9uokSqQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite ES';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritees/v10/kJE0BuMK4Q07lDHc2Xp9uokSqQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite ES';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritees/v10/kJE0BuMK4Q07lDHc2Xp9uokSqQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite ES';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritees/v10/kJE0BuMK4Q07lDHc2Xp9uokSqQ.woff2) format('woff2');
}
