/* fallback */
@font-face {
  font-family: 'Playwrite RO';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritero/v9/gokpH6fuA1J7QPJ04HFTGSWHnQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite RO';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritero/v9/gokpH6fuA1J7QPJ04HFTGSWHnQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite RO';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritero/v9/gokpH6fuA1J7QPJ04HFTGSWHnQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite RO';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritero/v9/gokpH6fuA1J7QPJ04HFTGSWHnQ.woff2) format('woff2');
}
