/* fallback */
@font-face {
  font-family: 'Playwrite GB J Guides';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbjguides/v2/CSRv4yJOn-mMWCgLPl16K6UKAvM5yY1Bdhm4KRAp.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite GB J Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritegbjguides/v2/CSRh4yJOn-mMWCgLPl16K6UKAvM5yY1BdhmILg.woff2) format('woff2');
}
