/* fallback */
@font-face {
  font-family: 'Playwrite RO Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteroguides/v1/wlptgx7ZCE50snmWiOExiylvL10_b5Ym_LU.woff2) format('woff2');
}
