/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritedegrund/v10/EJRLQhwoXdccriFurnRxqv-1MFyKy69g9Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritedegrund/v10/EJRLQhwoXdccriFurnRxqv-1MFyKy69g9Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritedegrund/v10/EJRLQhwoXdccriFurnRxqv-1MFyKy69g9Q.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite DE Grund';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedegrund/v10/EJRLQhwoXdccriFurnRxqv-1MFyKy69g9Q.woff2) format('woff2');
}
