/* fallback */
@font-face {
  font-family: 'Playwrite PL';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritepl/v9/0QInMXVf_4C2VH-yUr5uz72O9g.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PL';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritepl/v9/0QInMXVf_4C2VH-yUr5uz72O9g.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PL';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritepl/v9/0QInMXVf_4C2VH-yUr5uz72O9g.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite PL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritepl/v9/0QInMXVf_4C2VH-yUr5uz72O9g.woff2) format('woff2');
}
