/* fallback */
@font-face {
  font-family: 'Playwrite IT Trad';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteittrad/v10/SlGKmR6Yo5oYZX5BFVcEySBSPE50BivN.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite IT Trad';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteittrad/v10/SlGKmR6Yo5oYZX5BFVcEySBSPE50BivN.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite IT Trad';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteittrad/v10/SlGKmR6Yo5oYZX5BFVcEySBSPE50BivN.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite IT Trad';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteittrad/v10/SlGKmR6Yo5oYZX5BFVcEySBSPE50BivN.woff2) format('woff2');
}
