/* fallback */
@font-face {
  font-family: 'Playwrite BR Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritebrguides/v1/tssxAohQaiQS-wrnJz-F5CqW4dOezRwp-9I.woff2) format('woff2');
}
