/* fallback */
@font-face {
  font-family: 'Playwrite HU';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwritehu/v6/A2Bdn59A0g0xA3zDhFw-0vfVVg.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite HU';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwritehu/v6/A2Bdn59A0g0xA3zDhFw-0vfVVg.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite HU';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwritehu/v6/A2Bdn59A0g0xA3zDhFw-0vfVVg.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite HU';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritehu/v6/A2Bdn59A0g0xA3zDhFw-0vfVVg.woff2) format('woff2');
}
