/* fallback */
@font-face {
  font-family: 'Playwrite AU NSW Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteaunswguides/v1/LDIiao-QNRMmVPcU8-sgUraMF7GZs_1Emk3v8tPe.woff2) format('woff2');
}
