/* fallback */
@font-face {
  font-family: 'Playwrite DE SAS Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritedesasguides/v1/8At5GtCjPp-GWR2h9cC6ePzz2l6LJ3VZaPNi15BB.woff2) format('woff2');
}
