/* fallback */
@font-face {
  font-family: 'Playwrite HR Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwritehrguides/v1/6NUK8EedKwOcfRjj8ukv_L4kjqAoGrjdWmU.woff2) format('woff2');
}
