/* fallback */
@font-face {
  font-family: 'Playwrite CA';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/playwriteca/v9/z7NTdR_4cT0NOrEAIElil930SQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CA';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/playwriteca/v9/z7NTdR_4cT0NOrEAIElil930SQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CA';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/playwriteca/v9/z7NTdR_4cT0NOrEAIElil930SQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Playwrite CA';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteca/v9/z7NTdR_4cT0NOrEAIElil930SQ.woff2) format('woff2');
}
