/* fallback */
@font-face {
  font-family: 'Playwrite US Modern Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteusmodernguides/v1/0QI1MWNf_4C2VH-yUr5uyqKOvtOynXAoku8j8Lv9pry0.woff2) format('woff2');
}
