/* fallback */
@font-face {
  font-family: 'Playwrite AU VIC Guides';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/playwriteauvicguides/v1/ll8sK3mEVy6nEMXMskXIZv8owEdZpVIWaQEnuD6A.woff2) format('woff2');
}
