/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Proza Libre Italic'), local('ProzaLibre-Italic'), url(../fonts/prozalibre/v5/LYjEdGHgj0k1DIQRyUEyyEotRNb_Xayz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Proza Libre Italic'), local('ProzaLibre-Italic'), url(../fonts/prozalibre/v5/LYjEdGHgj0k1DIQRyUEyyEotRNj_XQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Proza Libre Medium Italic'), local('ProzaLibre-MediumItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTCvcSJ2S8g6N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Proza Libre Medium Italic'), local('ProzaLibre-MediumItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTCvcSJOS8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Proza Libre SemiBold Italic'), local('ProzaLibre-SemiBoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTAfbSJ2S8g6N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Proza Libre SemiBold Italic'), local('ProzaLibre-SemiBoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTAfbSJOS8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Proza Libre Bold Italic'), local('ProzaLibre-BoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTGPaSJ2S8g6N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Proza Libre Bold Italic'), local('ProzaLibre-BoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTGPaSJOS8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Proza Libre ExtraBold Italic'), local('ProzaLibre-ExtraBoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTH_ZSJ2S8g6N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Proza Libre ExtraBold Italic'), local('ProzaLibre-ExtraBoldItalic'), url(../fonts/prozalibre/v5/LYjZdGHgj0k1DIQRyUEyyEotTH_ZSJOS8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Proza Libre'), local('ProzaLibre-Regular'), url(../fonts/prozalibre/v5/LYjGdGHgj0k1DIQRyUEyyEomdNrnWQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Proza Libre'), local('ProzaLibre-Regular'), url(../fonts/prozalibre/v5/LYjGdGHgj0k1DIQRyUEyyEoodNo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Proza Libre Medium'), local('ProzaLibre-Medium'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyELbV8_WeJGK9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Proza Libre Medium'), local('ProzaLibre-Medium'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyELbV8_YeJE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Proza Libre SemiBold'), local('ProzaLibre-SemiBold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEL3UM_WeJGK9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Proza Libre SemiBold'), local('ProzaLibre-SemiBold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEL3UM_YeJE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Proza Libre Bold'), local('ProzaLibre-Bold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEKTUc_WeJGK9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Proza Libre Bold'), local('ProzaLibre-Bold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEKTUc_YeJE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Proza Libre ExtraBold'), local('ProzaLibre-ExtraBold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEKPUs_WeJGK9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Proza Libre ExtraBold'), local('ProzaLibre-ExtraBold'), url(../fonts/prozalibre/v5/LYjbdGHgj0k1DIQRyUEyyEKPUs_YeJE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
