/* khmer */
@font-face {
  font-family: 'Taprom';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Taprom'), url(../fonts/taprom/v12/UcCn3F82JHycULb1TyM2y0k.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
