/* latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tienne Regular'), local('Tienne-Regular'), url(../fonts/tienne/v13/AYCKpX7pe9YCRP07l0nG.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Tienne Bold'), local('Tienne-Bold'), url(../fonts/tienne/v13/AYCJpX7pe9YCRP0zLGzTR3Jv.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Tienne Black'), local('Tienne-Black'), url(../fonts/tienne/v13/AYCJpX7pe9YCRP0zFG7TR3Jv.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
