/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Wavefont';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/wavefont/v12/L0xQDF00m0cP6hefyOCpRezQNuizSrqDyx8FHbFu21B3L4m0SEzuW4I.woff2) format('woff2');
}
